obj
bin
_tests
.vs
dist
build
*.pyc
machinelearningext/DocHelperMlExt/DocHelperMlExt.csproj.user
machinelearningext/DocHelperMlExt/Properties/PublishProfiles
docs/doctrees
docs/source/logistic_regression.zip
machinelearningext/packages
docs/source/components
docs/source/mlnetdocs
